REACT_APP_API_BASE_URL=/api

# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=talento14bd.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=talento14bd
REACT_APP_FIREBASE_STORAGE_BUCKET=talento14bd.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=